<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main_layout}">
	
	<main layout:fragment="content" class="my-form">
<div class="container">
	<div class="row flex-col align-center">
		<div class="col-md-8">
		
      			  <div class="mb-5 px-15px font-bold">회원가입</div>
					
        <form th:action="@{/user/sign_up_Ps}" method="post" th:object="${userDto}" class="validation-form">
			 	<div class="form-group row mb-3">
            <label for="userId" class="col-md-4 col-form-label text-md-right">회원 아이디</label>
             		<div class="col-md-6">
            <input type="text" th:field="*{userId}" id="userId" class="form-control">
            <div class="error" th:each="err : ${#fields.errors('userId')}" th:text="${err}"></div>
					</div>
				</div>
				
				<div class="form-group row mb-3">
            <label for="userPw" class="col-md-4 col-form-label text-md-right">회원 비밀번호</label>
            		<div class="col-md-6">
            <input type="password" class="form-control" th:field="*{userPw}" id="userPw" maxlength="30" minlength="6">          
            <div class="error" th:each="err : ${#fields.errors('userPw')}" th:text="${err}"></div>
            		</div>
            	</div>
            
            
            
            	<div class="form-group row mb-3">
            <label for="userPwRe" class="col-md-4 col-form-label text-md-right">비밀번호 확인</label>
            		<div class="col-md-6">
            <input type="password" th:field="*{userPwRe}" class="form-control" maxlength="30" minlength="6">
            <div class="error" th:each="err : ${#fields.errors('userPwRe')}" th:text="${err}"></div>
            		</div>
            	</div>
            
            
            
           		 <div class="form-group row mb-3">
            <label for="userNm" class="col-md-4 col-form-label text-md-right">성함</label>
            			<div class="col-md-6">
            <input type="text" th:field="*{userNm}" id="userNm" class="form-control">
            		
            <div class="error" th:each="err : ${#fields.errors('userNm')}" th:text="${err}"></div>
            			</div>
            	</div>
            
            	 <div class="form-group row mb-3">
            <label for="nickNm" class="col-md-4 col-form-label text-md-right">닉네임</label>
            			<div class="col-md-6">
            <input type="text" th:field="*{nickNm}" id="nickNm" class="form-control">
            <div class="error" th:each="err : ${#fields.errors('nickNm')}" th:text="${err}"></div>
            			</div>
            	</div>
            
            	 <div class="form-group row mb-3">
            <label for="birthDay" class="col-md-4 col-form-label text-md-right">생년월일</label>
            			<div class="col-md-6">
            <input type="number" th:field="*{birthDay}" id="birthDay" placeholder="ex : 980802" class="form-control">
            <div class="error" th:each="err : ${#fields.errors('birthDay')}" th:text="${err}"></div>
            			</div>
            	</div>
            
            	 <div class="form-group row mb-3">
            <label for="phone" class="col-md-4 col-form-label text-md-right">휴대폰 번호</label>
            		<div class="col-md-6">
            <input type="number" th:field="*{phone}" placeholder="ex : 01012345678" class="form-control">
 			<div class="error" th:each="err : ${#fields.errors('phone')}" th:text="${err}"></div>
 					</div>
 				</div>
 			
 				 <div class="form-group row mb-3">
            <label for="email" class="col-md-4 col-form-label text-md-right">이메일</label>
            		<div class="col-md-6">
            <input type="email" th:field="*{email}" placeholder="test1234@gmail.com" class="form-control">
            		
			<div class="error mb-3" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
					</div>
				</div>
			
			
				 <div class="form-group row mt-5 flex-col">
					 
				<div>
            <label for="checkAll">전체 동의/해제</label>
            <input type="checkbox" id="checkAll" name="checkAll" class="w-25 mb-3">
            	</div>
            	<div>
            <label for="check1">이용약관에 동의합니다.</label>
            <input type="checkbox" name="check1" id="check1" class="checkboxes w-25 mb-3">
            	</div>
            	<div>
            <div class="error" th:each="err : ${#fields.errors('check1')}" th:text="${err}"></div>
            <label for="check2">개인정보 사용 안내를 확인하였습니다.</label>
            <input type="checkbox" name="check2" id="check2" class="checkboxes w-25 mb-3">
            <div class="error" th:each="err : ${#fields.errors('check2')}" th:text="${err}"></div>
            	</div>
            
            
            	</div>
            	   <div class="form-group row mb-3 text-center p-2">
            <button type="submit" class="btn btn-primary">완료</button>
            		</div>
            
        </form>
       	
      	</div>
     </div>
</div>
	</main>
	
	
</html>