<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main_layout}">
	
	<main layout:fragment="content">
		
		
		<div class="container min-vh-75" th:object="${board}">
			<input type="hidden" id="boardNo" th:value="*{boardNo}">
			

		<div class="card box-shadow">
		          

		            <div class="pricing-color card-header" >
 					 <h4 class="card-title pricing-card-title text-center title" th:text="${board.Title}"></h4>
					
					
					
					<div class="flex p-2  justify-space-between">	
						
						<div class="gap p-2">
						<a class="mr-1" href="#" th:text="|닉네임 : *{user.nickNm}|"></a>
						<span th:text="|작성일 : *{#temporals.format(regDt, 'yyyy-MM-dd HH:mm')}|"></span>
						</div>						
						
						<div class="gap p-2">
							<span class="mr-1" th:text="|조회수 : *{boardHit}|"></span>
							<span th:text="|추천수 : *{totalLikes}|"></span>
						</div>
						
						
					</div>
						
						
					

		            </div>
		            <div class="card-body" >
						<span th:utext="*{content}" class="p-2"></span>
						

		            </div>
		            
		             	<div th:if="${fileList}" th:each=" file : ${fileList} " class="file p-2">
				
						<a th:href="@{/board/attach(fileNo=${file.fileNo})}" th:id="${file.fileName}" th:text="${file.fileName}" onclick="return ask(this);" class="p-2"></a>
						  
					  </div>
					  
		          </div>
		          
			      
						<th:block sec:authorize="isAuthenticated()">
							 <input type="hidden" id="userId" th:value="${user}">
							<!-- <span id="parent"></span>-->
									<div class="reply-card" >
										<div class="flex">
							<textarea rows="3" class="form-control w-85" placeholder="댓글을 남겨보세요" name="content" id="mainContent" th:field="${replyDto.Content}"></textarea>
							<button class="btn btn-primary btn-outline w-15" type="button" onclick="replySubmit()">등록</button>
										</div>
						</th:block>
					  <th:block sec:authorize="isAnonymous()">
							<textarea rows="3" class="form-control" placeholder="댓글 작성은 로그인 후 이용 가능합니다"></textarea>
						</th:block>
									</div>
						  <div id="replies_area" class="card">
							  
						<th:block th:if="${replies}" th:each=" reply : ${replies}" >
							
							<th:blcok th:if="${reply.parent==null}">
							<div class="card-header bg-light">
							<a href="#" class="media-heading titleC" th:text="${reply.user.nickNm}"></a>
							</div>
							<div class="reply-card-body">
							<span th:text="${reply.content}" ></span>
							<th:block sec:authorize="isAuthenticated()">
								<div class="flex mt-1 reply-content font-small">
									
							<span th:if="${reply.modDt==null}" class="p-2" th:text="|작성됨 :  ${#temporals.format(reply.regDt,'yyyy-MM-dd HH:mm')} |" ></span>
							
							<span th:unless="${reply.modDt==null}" class="p-2" th:text="|  ${#temporals.format(reply.modDt,'yyyy-MM-dd HH:mm')} |"></span>
								<button type="button" name="parentReply" th:value="${reply.replyNo}" onclick="newArea(this)" class="btn btn-success font-small">답글</button>
								
							<th:block th:if="${reply.user.userId}==${replyDto.userId}">
								
								<button type="button" th:id="${reply.replyNo}" th:value="${reply.content}" class="btn btn-default font-small" >수정</button>
								<button type="button" th:value="${reply.content}" th:id="${reply.replyNo}" name="replyNo" onclick="deleteReply(this)" class="btn btn-labeled btn-danger font-small">삭제</button>
								
							</th:block>
								</div>
							<div th:id="|${reply.replyNo},${user}|">
								
								</div>
							</th:block>
							</div>
							
							
							
							<div th:if="${!#lists.isEmpty(reply.children)}" th:each="child : ${reply.children}" class="child-reply">
									<div class="card-header relative">
										<i class="fa-solid fa-turn-up fa-flip-horizontal"></i>
									<a href="#" class="media-heading titleC" th:text="${child.user.nickNm}"></a>
									</div>
									
										<div class="reply-card-body">
							 <span th:text="${child.content}" ></span>
								<div class="flex mt-1 reply-content font-small">
							
							<span th:if="${child.modDt ==null}" class="p-2" th:text="|작성됨 :  ${#temporals.format(child.regDt,'yyyy-MM-dd HH:mm')}  |"></span>
							<span th:unless="${child.modDt ==null}" class="p-2" th:text="| ${#temporals.format(child.modDt,'yyyy-MM-dd HH:mm')} |"></span>
							
								<th:block sec:authorize="isAuthenticated()">
							<th:block th:if="${child.user.userId}==${replyDto.userId}">
								
								<button type="button" class="btn btn-default font-small">수정</button>
								<button type="button" th:value="${child.content}" th:id="${child.replyNo}" name="replyNo" onclick="deleteReply(this)" class="btn btn-labeled btn-danger font-small" >삭제</button>
								
							</th:block>
		
							</th:block>
								</div>
								
							</div>
										</div>
							
							
							
							
							
							
							</th:blcok>
						</th:block>
						
						
				  </th>

		
			</div>
			</div>
		
	</main>
	
	
</html>