<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main_layout}">
	
	<main layout:fragment="content" class="container min-vh-75 ">
		<span th:text="${boardTypeKr}" class="font-bold">게시판</span>
		
		
			<div class="row">
        <div class="col-md-3">
            <form th:action="@{/board/{boardType}/main_view(boardType=${boardType})}" method="get" class="mt-20 flex-col">
        
	  <div class="funkyradio">				
	  <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio1" value="regDt" th:checked="${radio == 'regDt'|| radio == null}"/>
            <label for="radio1">최신순</label>
        </div>
        
          <div class="funkyradio-primary">
            <input type="radio" name="radio"  id="radio2" value="totalLikes" th:checked="${radio == 'totalLikes'}" />
            <label for="radio2">좋아요순</label>
        </div>
   		
   		  
          <div class="funkyradio-primary">
            <input type="radio" name="radio"  id="radio3" value="boardHit" th:checked="${radio == 'boardHit'}" />
            <label for="radio3">조회순</label>
        </div>
     

      
	  </div>		
					
		<select class="form-select form-select-lg mb-3 form-control" aria-label=".form-select-lg example" name="order">
  <option value="asc" th:selected="${order} == 'asc' ">오름차순</option>
  <option value="desc" th:selected="${order} != 'asc' ">내림차순</option>

</select>

        
        <div class="flex">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control w-85" id="system-search" name="searchKeyword" placeholder="제목 검색" th:value="${searchKeyword}">
                    
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
        </div>            
               
            </form>
        </div>
		<div class="col-md-9">
			
			<a th:href="@{/board_write/{boardType}(boardType=${boardType})}" class="flex-row-reverse">
				  <button type="button" class="btn btn-primary">작성하기</button>
			</a>
			
    	 <table class="table table-list-search">
                    <thead>
                        <tr>
                            <th class="text-center">게시물 번호</th>
                            <th class="text-center">작성자</th>
                            <th class="text-center">제목</th>
                            <th class="text-center">조회수</th>
                            <th class="text-center">추천수</th>
                            <th class="text-center">작성일</th>
                        </tr>
                    </thead>
                    <tbody>
						
						  <tr th:each = "board:${list}" class="text-center">
                  
                  
                    <td th:text="${board.boardNo}"></td>
                    <td th:text="${board.user.nickNm}"></td>
                    <td >
                        <a th:text="${board.title}" th:href="@{/board/board_view(boardNo=${board.boardNo})}"></a>
                        <span th:if="${board.replies != null && board.replies.size() != 0}" th:text="${' ['+board.replies.size()+']'}"></span>
                    </td>
                   <td th:text="${board.boardHit}"></td>
                   <td th:text="${board.totalLikes}"></td>
                   <td th:text=" ${#temporals.format(board.regDt,'yyyy-MM-dd HH:mm')}  "></td>
                    
                </tr>
						
						
           
                    </tbody>
                </table>   
                
                
                <div class="text-center mt-10">
           <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
		<a th:if="${page != nowPage and page>0}"
			th:href="@{/board/{boardType}/main_view(boardType=${boardType}, page = ${page - 1},order = ${order},radio=${radio}, searchKeyword = ${searchKeyword})}"
			th:text="${page}"></a>
		<strong class="bold" th:if="${page == nowPage}" th:text="${page}"></strong>
	</th:block>
             </div>   
             
             
		</div>
	</div>
		
		
		
	</main>
	
	
</html>