<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main_layout}">
	
	<main layout:fragment="content">
	<div class="social-box">
    <div class="container">
     	<div class="row">
		    <div class="col-lg-4 col-xs-12 text-center">
				<div class="box">
					
                    <i class="fa fa-house fa-3x" aria-hidden="true"></i>
					<div class="box-title">
						<h3>Anything U WANT</h3>
					</div>
					<div class="box-text">
						<span>당신이 원하는 어떤것이든! 마음대로 작성해보세요!</span>
					</div>
					<div class="box-btn">
					    <a th:href="@{/user/login}">Learn More</a>
					</div>
				 </div>
			</div>	 
			
			 <div class="col-lg-4 col-xs-12  text-center">
				<div class="box">
				    <i class="fa fa-person-breastfeeding fa-3x" aria-hidden="true"></i>
					<div class="box-title">
						<h3>자유게시판</h3>
					</div>
					<div class="box-text">
						<span>무엇을 작성할지 고민하지마세요~ 자유잖아요~</span>
					</div>
					<div class="box-btn">
					    <a th:href="@{/board/FREE_BOARD/main_view}">Learn More</a>
					</div>
				 </div>
			</div>	 
		
			 <div class="col-lg-4 col-xs-12 text-center">
				<div class="box">
                    <i class="fa fa-magnifying-glass fa-3x" aria-hidden="true"></i>
					<div class="box-title">
						<h3>질문게시판</h3>
					</div>
					<div class="box-text">
						<span>모르는건 부끄러운게 아닙니다! <br>모두에게 질문해보세요!</span>
					</div>
					<div class="box-btn">
					    <a th:href="@{/board/QUERY_BOARD/main_view}">Learn More</a>
					</div>
				 </div>
			</div>	 
			
			<div class="col-lg-4 col-xs-12 text-center">
				<div class="box">
                    <i class="fa fa-heart fa-3x" aria-hidden="true"></i>
					<div class="box-title">
						<h3>추천게시판</h3>
					</div>
					<div class="box-text">
						<span>유저들에게 사랑받는 게시물들을 확인해보세요!</span>
					</div>
					<div class="box-btn">
					    <a th:href="@{/board/LIKED_BOARD/main_view}">Learn More</a>
					</div>
				 </div>
			</div>	 
			
			<div class="col-lg-4 col-xs-12 text-center">
				<div class="box">
				    <i class="fa fa-bell fa-3x" aria-hidden="true"></i>
					<div class="box-title">
						<h3>공지사항</h3>
					</div>
					<div class="box-text">
						<span>귀찮지만 가끔씩 확인해보기~</span>
					</div>
					<div class="box-btn">
					    <a th:href="@{/board/NOTICE/main_view}">Learn More</a>
					</div>
				 </div>
			</div>	 
			
			<div class="col-lg-4 col-xs-12 text-center">
				<div class="box">
                    <i class="fa fa-right-to-bracket fa-3x" aria-hidden="true"></i>
					<div class="box-title">
						<h3>회원가입</h3>
					</div>
					<div class="box-text">
						<span>아직 회원이 아니시라면...</span>
					</div>
					<div class="box-btn">
					    <a th:href="@{/user/sign_up}">Learn More</a>
					</div>
				 </div>
			</div>
		</div>		
    </div>
</div>
	</main>
	
	
</html>