<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
 <div class="container">
    <div class="row flex justify-space-around">
      <div class="col-md-3">
      <h3>About Us</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Pellentesque imperdiet consectetur dolor in elementum.</p>

      </div>
      <div class="col-md-2 list">
        <ul>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
        </ul>

      </div>
 

      <div class="col-md">
        <h5><strong>Contact Info</strong></h5>
        <p><strong>Adress:</strong> 비공개 
</p>
        <p><strong>Email:</strong> jukj2080@gmail.com</p>
        <p><strong>Tel.:</strong> 010-2250-7642</p>
      </div>
    </div>
  </div>
	
</footer>

</html>