<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
 <div class="container">
    <div class="row flex justify-space-around">
      <div class="col-md-3">
      <h3>About Us</h3>
      <p>혼자서 만들어보는 게시판입니다.</p>

      </div>
      <div class="col-md-2 list">
        <ul>
          <li><a href="#J">J : Jaeuk is</a></li>
          <li><a href="#A">A : A wonderful</a></li>
          <li><a href="#E">E : Elite.</a></li>
          <li><a href="#U">U : U</a></li>
          <li><a href="#K">K : KKKK Pick me</a></li>
        </ul>

      </div>
 

      <div class="col-md">
        <h5><strong>Contact Info</strong></h5>
        <p><strong>Adress:</strong> 비공개 
</p>
        <p><strong>Email:</strong> jukj2080@gmail.com</p>
        <p><strong>Tel.:</strong> 010-2250-7642</p>
      </div>
    </div>
  </div>
	
</footer>

</html>