<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<meta charset="UTF-8">
		<title></title>
<link rel="stylesheet" type="text/css" th:each="css:${addCss}" th:href="@{/css/{css}.css(css=${css})}">
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
<!--부트스트랩-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" type="text/css">
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>-->
<!--google fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&family=Roboto&display=swap" rel="stylesheet">
<script th:each="script : ${addScript}" th:src="@{/js/{js}.js(js=${script})}"></script>

	</head>
		<body>
		<header id="header" th:replace="layout/header::header"></header>
		
		<main layout:fragment="content"></main>
		
		<footer id="footer" th:replace="layout/footer::footer"></footer>
	</body>
		
</html>